#navigation_dialog {
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 40pt #333;
    padding: 55px;
    margin: auto;
    position: relative;
    top: 15%;
    text-align: right;
    overflow: hidden;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: appearance 0.3s cubic-bezier(0.18,0.84,0.07,1) 0.1s alternate both;
    -moz-animation: appearance 0.3s cubic-bezier(0.18,0.84,0.07,1) 0.1s alternate both;
    -ms-animation: appearance 0.3s cubic-bezier(0.18,0.84,0.07,1) 0.1s alternate both;
    -o-animation: appearance 0.3s cubic-bezier(0.18,0.84,0.07,1) 0.1s alternate both;
    animation: appearance 0.3s cubic-bezier(0.18,0.84,0.07,1) 0.1s alternate both;
    -webkit-transition: height 0.3s cubic-bezier(0.18,0.84,0.07,1);
    -moz-transition: height 0.3s cubic-bezier(0.18,0.84,0.07,1);
    -ms-transition: height 0.3s cubic-bezier(0.18,0.84,0.07,1);
    -o-transition: height 0.3s cubic-bezier(0.18,0.84,0.07,1);
    transition: height 0.3s cubic-bezier(0.18,0.84,0.07,1);
}

#navigation_stages {
    width: 100%;
    border: 0;
    margin: 0;
    border-spacing: 1px;
    position: relative;
}

#navigation_stages td {
    border: 0;
    padding: 0 5pt 3pt;
    width: 33%;
    border-bottom: 3px solid #999;
    text-transform: uppercase;
    font-family: "Corbel", "Trebuchet MS", sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
}

#navigation_dialog button {
    float: none;
    min-width: 80pt;
    font-size: 12pt;
    padding: 5pt;
    margin: 20pt 0 0 15pt;
    display: inline;
    cursor: pointer;
}

#navigation_slides_box {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

#hostel_navigator {
    margin-bottom: 20pt;
}

#hostel_navigator_launcher {
    float: none;
    display: inline-block;
    width: 100pt;
}

#hostel_navigator span {
    font-size: 16pt;
    margin: -3px 0 0 14pt;
    padding: 0 6pt;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    line-height: 28pt;
    vertical-align: middle;
}

#navigator_label {
    display: inline-block;
}

.navigator_string {
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}

.navigator_string:hover {
    background-color: #eee;
}

.number_of_floor {
    float: left;
    padding: 5pt;
    width: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.floor_repeater {
    width: 49.5% !important;
    margin: 2pt 1% 2pt 0 !important;
    background-color: #616161;
    color: white;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 11pt !important;
    padding: 0 !important;
    float: left !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    clear: none !important;
    font-size: 10.5pt !important;
    height: 40px;
}

.fill_bar {
    float: left;
    width: 65%;
    background-color: #616161;
    height: 50%;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #CCC;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 25%;
}

.full_value {
    width: 56%;
    background-color: #ccc;
    height: 100%;
}

.total {
    float: right;
    padding: 5pt;
    width: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}

#slide-floor button {
    width: 100% !important;
    margin: 0 !important;
    background-color: #616161;
    color: #fff;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 11pt !important;
    padding: 0 !important;
    float: left !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    clear: none !important;
    font-size: 10.5pt !important;
}

#slide-floor .floor_repeater:nth-child(even) {
    margin-right: 0 !important;
}

#slide-floor button:hover {
    background-color: #999;
}

#slide-floor button:hover .fill_bar {
    background-color: #999;
    border-color: #eee;
}

#slide-floor button:hover .full_value {
    background-color: #eee;
}

#navigation_slides {
    position: relative;
    left: 0;
    width: 300%;
    border: 0;
    margin: 20pt 0 0;
    border-spacing: 0;
    padding: 0;
    -webkit-transition: left 0.3s cubic-bezier(0.18,0.84,0.07,1);
    -moz-transition: left 0.3s cubic-bezier(0.18,0.84,0.07,1);
    -ms-transition: left 0.3s cubic-bezier(0.18,0.84,0.07,1);
    -o-transition: left 0.3s cubic-bezier(0.18,0.84,0.07,1);
    transition: left 0.3s cubic-bezier(0.18,0.84,0.07,1);
    overflow: hidden;
}

#navigation_slides td {
    width: 33.33333333333333333333334%;
    display: block;
    float: left;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 11pt;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
    min-height: 100px;
}

#slide-hostel {
    font-size: 0!important;
    word-spacing: 0!important;
    letter-spacing: -5px!important;
}

.hostel_button {
    width: 27%;
    height: 150px;
    letter-spacing: normal;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    margin: 0 9.5% 4% 0 !important;
}

.hostel_button button {
    width: 100%;
    height: 100%;
    margin: 0 !important;
}

.hostel_button:nth-child(3n) {
    margin: 0 !important;
}

.hostel_number {
    font-size: 24pt;
    font-weight: bold;
}

.room_card button {
    float: right !important;
    clear: right !important;
    background-color: #999 !important;
    width: 69% !important;
    display: block !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    padding: 0pt 3pt !important;
    font-size: 10.5pt !important;
    line-height: 16pt !important;
    height: 16pt !important;
    margin: 0 0 2pt 0 !important;
    text-align: left;
    overflow: hidden;
}

.room_card button:hover {
    background-color: #eee !important;
    color: #333;
}

.room_card button:last-child {
    margin-bottom: 0 !important;
}

.number_of_room {
    float: left;
    padding: 4pt 6pt;
    width: 30%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    word-break: break-all;
    line-break: loose;
    overflow: hidden;
}

.room_card {
    float: left;
    background-color: #616161;
    color: white;
    width: 32%;
    border: 3px solid #616161;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    margin: 0 2% 10pt 0;
}

.room_card:nth-child(3n) {
    margin: 0 0 10pt 0;
}

#room_cards {
    max-height: 160pt;
    overflow-x: hidden;
    overflow-y: auto;
}
